.btn {
    align-items: center;
    background-color: #e5f876;
    border-radius: 4px;
    color: #464947;
    display: flex;
    font-family: UntitledSans-Regular;
    font-size: 12.8px;
    justify-content: center;
    line-height: 19.2px;
    padding: 8px 12px;
    text-align: right;
}